h1{
   background-color: #085CA6;
   color: white;
   margin-top: 0;
   line-height: 100px;
   margin-left: 750px;
   margin-right: 750px;
   text-align: center;
}
html {
    background-color: #FBE1E3;
}

.rain{
    margin-left: 10px;
}
.bb{
    margin-top: 0;
    position: absolute;
    z-index: 1;
    width: fit-content;
}